.header {
    display: flex;
    align-items: center;
    background-color: #222;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header i {
    margin: 0 5px 0 30px;
}